In [1]:
#DSBDA practical 3
# load the datasets
# Display The Basic Information
# Display statistical information
# Display null Values
# Fill the Null Value
# Display overall statistical information
# Display groupwise statistical information

In [2]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv('Employee_Salary.csv')

In [4]:
# Display basic information
print('Information of Dataset:\n', df.info)

Information of Dataset:
 <bound method DataFrame.info of     ID  Experience  Age  Gender    Salary
0    1         5.0   28  Female    250000
1    2         1.0   21    Male     50000
2    3         3.0   23  Female    170000
3    4         2.0   22    Male     25000
4    5         1.0   17    Male     10000
5    6        25.0   62    Male   5001000
6    7        19.0   54  Female    800000
7    8         2.0   21  Female      9000
8    9        10.0   36  Female     61500
9   10        15.0   54  Female    650000
10  11         4.0   26  Female    250000
11  12         6.0   29    Male   1400000
12  13        14.0   39    Male   6000050
13  14         NaN   40    Male    220100
14  15         2.0   23    Male      7500
15  16         4.0   27     NaN     87000
16  17        10.0   34  Female    930000
17  18        15.0   54  Female   7900000
18  19         2.0   21    Male     15000
19  20        10.0   36    Male    330000
20  21        15.0   54    Male   6570000
21  22         4.0   26    Male     25000
22  23         5.0   29    Male   6845000
23  24         1.0   21  Female      6000
24  25         4.0   23  Female      8900
25  26         3.0   22  Female     20000
26  27         1.0   18    Male      3000
27  28        27.0   62  Female  10000000
28  29        19.0   54  Female   5000000
29  30         2.0   21  Female      6100
30  31        10.0   34    Male     80000
31  32        15.0   54    Male    900000
32  33        20.0   55  Female   1540000
33  34        19.0   53  Female   9300000
34  35        16.0   49    Male   7600000>

In [5]:
print('Shape of Dataset (row x column): ', df.shape)

Shape of Dataset (row x column):  (35, 5)

In [6]:
print('Columns Name: ', df.columns)

Columns Name:  Index(['ID', 'Experience', 'Age', 'Gender', 'Salary'], dtype='object')

In [7]:
print('Total elements in dataset:', df.size)

Total elements in dataset: 175

In [8]:
print('Datatype of attributes (columns):', df.dtypes)

Datatype of attributes (columns): ID              int64
Experience    float64
Age             int64
Gender         object
Salary          int64
dtype: object

In [9]:
print('Last 5 rows:\n',df.tail().T)

Last 5 rows:
                30      31       32       33       34
ID             31      32       33       34       35
Experience   10.0    15.0     20.0     19.0     16.0
Age            34      54       55       53       49
Gender       Male    Male   Female   Female     Male
Salary      80000  900000  1540000  9300000  7600000

In [10]:
print('Any 5 rows:\n',df.sample(5).T)

Any 5 rows:
                21      29     1       8     14
ID             22      30      2       9    15
Experience    4.0     2.0    1.0    10.0   2.0
Age            26      21     21      36    23
Gender       Male  Female   Male  Female  Male
Salary      25000    6100  50000   61500  7500

In [11]:
print('Total Number of Null Values in Dataset:', df.isna().sum())

Total Number of Null Values in Dataset: ID            0
Experience    1
Age           0
Gender        1
Salary        0
dtype: int64

In [12]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Experience'].fillna(df['Experience'].mean(), inplace=True)
print('Total Number of Null Values in Dataset:', df.isna().sum())

Total Number of Null Values in Dataset: ID            0
Experience    0
Age           0
Gender        0
Salary        0
dtype: int64

In [13]:
# Display Overall Statistical information
print('Statistical information of Numerical Columns: \n',df.describe())

Statistical information of Numerical Columns:
               ID  Experience        Age        Salary
count  35.000000   35.000000  35.000000  3.500000e+01
mean   18.000000    9.147059  35.485714  2.059147e+06
std    10.246951    7.546454  14.643552  3.170124e+06
min     1.000000    1.000000  17.000000  3.000000e+03
25%     9.500000    2.500000  22.500000  2.250000e+04
50%    18.000000    6.000000  29.000000  2.500000e+05
75%    26.500000   15.000000  53.500000  3.270000e+06
max    35.000000   27.000000  62.000000  1.000000e+07

In [14]:
# groupwise statistical information
print('Groupwise Statistical Summary....')
print('\n-------------------------- Experience -----------------------\n')
print(df['Experience'].groupby(df['Gender']).describe())
print('\n-------------------------- Age -----------------------\n')
print(df['Age'].groupby(df['Gender']).describe())
print('\n-------------------------- Salary -----------------------\n')
print(df['Salary'].groupby(df['Gender']).describe())

Groupwise Statistical Summary....

-------------------------- Experience -----------------------

        count       mean       std  min   25%  50%   75%   max
Gender
Female   18.0  10.111111  8.123234  1.0  3.25  7.5  18.0  27.0
Male     17.0   8.126298  6.982320  1.0  2.00  6.0  14.0  25.0

-------------------------- Age -----------------------

        count       mean        std   min   25%   50%   75%   max
Gender
Female   18.0  37.111111  15.449686  21.0  23.0  31.0  54.0  62.0
Male     17.0  33.764706  13.997899  17.0  22.0  29.0  40.0  62.0

-------------------------- Salary -----------------------

        count          mean           std     min      25%       50%  \
Gender
Female   18.0  2.054917e+06  3.450120e+06  6000.0  30375.0  250000.0
Male     17.0  2.063626e+06  2.950974e+06  3000.0  25000.0  220100.0

              75%         max
Gender
Female  1387500.0  10000000.0
Male    5001000.0   7600000.0

In [15]:
df = pd.read_csv("IrisDataset.csv")

In [16]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [18]:
df["sepal_length"].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [19]:
df.groupby("species").describe().T

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.428000    2.770000   2.974000
             std     0.379064    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.200000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.462000    4.260000   5.552000
             std     0.173664    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.246000    1.326000   2.026000
             std     0.105386    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

In [20]:
df.groupby("species").describe().sum().T

sepal_length  count    150.000000
              mean      17.530000
              std        1.504540
              min       14.100000
              25%       16.625000
              50%       17.400000
              75%       18.400000
              max       20.700000
sepal_width   count    150.000000
              mean       9.172000
              std        1.015359
              min        6.500000
              25%        8.525000
              50%        9.200000
              75%        9.850000
              max       11.600000
petal_length  count    150.000000
              mean      11.274000
              std        1.195470
              min        8.500000
              25%       10.500000
              50%       11.400000
              75%       12.050000
              max       13.900000
petal_width   count    150.000000
              mean       3.598000
              std        0.577788
              min        2.500000
              25%        3.200000
              50%        3.500000
              75%        4.100000
              max        4.900000
dtype: float64