In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\tanuja\desktop\jupyter notebook\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tanuja\desktop\jupyter notebook\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tanuja\desktop\jupyter notebook\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tanuja\desktop\jupyter notebook\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\tanuja\desktop\jupyter notebook\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\tanuja\desktop\jupyter notebook\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1006)'))) - skipping

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/Tanuja/Desktop/Datasets/movies.csv')

In [4]:
print('Information of Dataset:\n', df.info)

Information of Dataset:
 <bound method DataFrame.info of       movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]>

In [5]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [8]:
df.isnull()

      movieId  title  genres
0       False  False   False
1       False  False   False
2       False  False   False
3       False  False   False
4       False  False   False
...       ...    ...     ...
9737    False  False   False
9738    False  False   False
9739    False  False   False
9740    False  False   False
9741    False  False   False

[9742 rows x 3 columns]

In [9]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [10]:
df.sum()

movieId                                            411115845
title      Toy Story (1995)Jumanji (1995)Grumpier Old Men...
genres     Adventure|Animation|Children|Comedy|FantasyAdv...
dtype: object

In [12]:
print('Columns Name: ',df.columns)

Columns Name:  Index(['movieId', 'title', 'genres'], dtype='object')

In [13]:
print('Shape of Dataset (row x column): ', df.shape)

Shape of Dataset (row x column):  (9742, 3)

In [14]:
print('Total Elements in dataset:',df.size)

Total Elements in dataset: 29226

In [15]:
print('Datatype of attributes (columns):',df.dtypes)

Datatype of attributes (columns): movieId     int64
title      object
genres     object
dtype: object

In [21]:
print('First 5 rows:\n',df.head)

First 5 rows:
 <bound method NDFrame.head of       movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]>

In [22]:
print('Statistical information of Numerical Columns: \n',df.describe())

Statistical information of Numerical Columns:
              movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [23]:
print('Total Number of Null Values in Dataset:\n', df.isna().sum())

Total Number of Null Values in Dataset:
 movieId    0
title      0
genres     0
dtype: int64

In [24]:
df.iloc[5]

movieId                        6
title                Heat (1995)
genres     Action|Crime|Thriller
Name: 5, dtype: object

In [25]:
df.iloc[3:5, 0:2]

   movieId                               title
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [26]:
df.iloc[1, 1]

'Jumanji (1995)'

In [29]:
print('Statistical information of Numerical Columns:\n',df.describe().T)

Statistical information of Numerical Columns:
           count          mean           std  min      25%     50%      75%  \
movieId  9742.0  42200.353623  52160.494854  1.0  3248.25  7300.0  76232.0

              max
movieId  193609.0

In [30]:
print('Total Number of Null Values in Dataset:\n', df.isna().T)

Total Number of Null Values in Dataset:
           0      1      2      3      4      5      6      7      8      9     \
movieId  False  False  False  False  False  False  False  False  False  False
title    False  False  False  False  False  False  False  False  False  False
genres   False  False  False  False  False  False  False  False  False  False

         ...   9732   9733   9734   9735   9736   9737   9738   9739   9740  \
movieId  ...  False  False  False  False  False  False  False  False  False
title    ...  False  False  False  False  False  False  False  False  False
genres   ...  False  False  False  False  False  False  False  False  False

          9741
movieId  False
title    False
genres   False

[3 rows x 9742 columns]

In [31]:
print('Total Number of Null Values in Dataset:\n', df.isna().sum().T)

Total Number of Null Values in Dataset:
 movieId    0
title      0
genres     0
dtype: int64

In [32]:
print(df.head().T)

                                                   0  \
movieId                                            1
title                               Toy Story (1995)
genres   Adventure|Animation|Children|Comedy|Fantasy

                                  1                        2  \
movieId                           2                        3
title                Jumanji (1995)  Grumpier Old Men (1995)
genres   Adventure|Children|Fantasy           Comedy|Romance

                                3                                   4
movieId                         4                                   5
title    Waiting to Exhale (1995)  Father of the Bride Part II (1995)
genres       Comedy|Drama|Romance                              Comedy

In [33]:
print(df.T)

                                                0     \
movieId                                            1
title                               Toy Story (1995)
genres   Adventure|Animation|Children|Comedy|Fantasy

                               1                        2     \
movieId                           2                        3
title                Jumanji (1995)  Grumpier Old Men (1995)
genres   Adventure|Children|Fantasy           Comedy|Romance

                             3                                   4     \
movieId                         4                                   5
title    Waiting to Exhale (1995)  Father of the Bride Part II (1995)
genres       Comedy|Drama|Romance                              Comedy

                          5               6                    7     \
movieId                      6               7                    8
title              Heat (1995)  Sabrina (1995)  Tom and Huck (1995)
genres   Action|Crime|Thriller  Comedy|Romance   Adventure|Children

                        8                          9     ...  \
movieId                    9                         10  ...
title    Sudden Death (1995)           GoldenEye (1995)  ...
genres                Action  Action|Adventure|Thriller  ...

                                   9732  \
movieId                          193565
title         Gintama: The Movie (2010)
genres   Action|Animation|Comedy|Sci-Fi

                                                      9733  \
movieId                                             193567
title    anohana: The Flower We Saw That Day - The Movi...
genres                                     Animation|Drama

                        9734                                     9735  \
movieId               193571                                   193573
title    Silver Spoon (2014)  Love Live! The School Idol Movie (2015)
genres          Comedy|Drama                                Animation

                                             9736  \
movieId                                    193579
title    Jon Stewart Has Left the Building (2015)
genres                                Documentary

                                              9737  \
movieId                                     193581
title    Black Butler: Book of the Atlantic (2017)
genres             Action|Animation|Comedy|Fantasy

                                 9738          9739  \
movieId                        193583        193585
title    No Game No Life: Zero (2017)  Flint (2017)
genres       Animation|Comedy|Fantasy         Drama

                                        9740  \
movieId                               193587
title    Bungo Stray Dogs: Dead Apple (2018)
genres                      Action|Animation

                                        9741
movieId                               193609
title    Andrew Dice Clay: Dice Rules (1991)
genres                                Comedy

[3 rows x 9742 columns]